/* READING PANEL ************************************************************ */

.ReadingPanel {
}

.ReadingPanel > *:not(.horizontalScroller) {
  /* width: 100%; */
  /* max-width: 35rem; */
  padding: 0 calc((100% - 35rem) / 2);
}

.ReadingPanel .horizontalScroller {
  overflow-x: auto;
}

.ReadingPanel .horizontalScroller--noWrap *,
.ReadingPanel .horizontalScroller.--noWrap * {
  text-wrap: nowrap;
}

/* HEADING ****************************************************************** */

.H1,
.H2,
.H3,
.H4 {
}

.H1 {
  font-size: 3.0em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) - 200);
}

.H2 {
  font-size: 2.5em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) - 200);
}

.H3 {
  font-size: 2.0em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) - 100);
}

.H4 {
  font-size: 1.5em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) - 100);
}

/* SUB-HEADING ************************************************************** */

.H1 > small,
.H2 > small,
.H3 > small,
.H4 > small {
  display: block;
  text-transform: uppercase;
  font-size: 0.5em;
}

.H1 > small {
  font-weight: calc(var(--FONT_SANS_WEIGHT) - 100);
}

.H2 > small {
  font-weight: calc(var(--FONT_SANS_WEIGHT) - 100);
}

.H3 > small {
  font-weight: var(--FONT_SANS_WEIGHT);
}

.H4 > small {
  font-weight: calc(var(--FONT_SANS_WEIGHT) + 100);
}


/* SEPARATOR RULER ********************************************************** */

.Separator {
  border-top: var(--STROKE_WIDTH) solid var(--COLOR_STROKE);
}

/* LISTS ******************************************************************** */

.List * {
  list-style: none;
}

.List li {
  display: table-row;
  position: relative;
}

.List li::before {
  content: "";
  display: table-cell;
  padding-right: calc(5px + var(--SPACING_HORIZONTAL));
}

.List li::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 5px;
  height: 5px;
  background: var(--COLOR_DECORATION);
  border-radius: 50%;
}

.List--stack > li > *,
.List.--stack > li > * {
  margin-top: var(--SPACING_VERTICAL);
}

.List--stack > li:first-child > *:first-child,
.List.--stack > li:first-child > *:first-child {
  margin-top: 0;
}

.List--stack > li:not(:first-child)::after,
.List.--stack > li:not(:first-child)::after {
  top: calc(var(--SPACING_VERTICAL) + 0.5em);
}

ol.List,
.List ol,
.List--letters,
.List.--letters {
  counter-reset: ORDERED_LIST;
}

ol.List > li,
.List ol > li,
.List--letters > li,
.List.--letters > li {
  counter-increment: ORDERED_LIST;
}

ol.List > li::before,
.List ol > li::before,
.List--letters > li::before,
.List.--letters > li::before {
  padding-right: calc(var(--SPACING_HORIZONTAL) - 3px);
  font-family: var(--FONT_MONO_FAMILY);
  font-size: 0.8em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) + 300);
  text-align: right;
}

ol.List > li::before,
.List ol > li::before {
  content: counter(ORDERED_LIST, numbers) ".";
}

.List--letters > li::before,
.List.--letters > li::before {
  content: counter(ORDERED_LIST, upper-alpha) ".";
}

ol.List > li::after,
.List ol > li::after,
.List--letters > li::after,
.List.--letters > li::after {
  content: none;
  display: none;
}

/* QUOTATIONS *************************************************************** */

.Quote {
}

.Quote > blockquote {
  padding: var(--SPACING_VERTICAL) var(--SPACING_HORIZONTAL);
  background: var(--COLOR_HIGHLIGHTED_FILL);
  border: calc(3 * var(--STROKE_WIDTH)) var(--COLOR_STROKE);
  border-style: none double;
  font-style: italic;
}

.Quote > blockquote > :first-child::before {
  content: "« ";
  color: var(--COLOR_DECORATION);
}

.Quote > blockquote > :last-child::after {
  content: " »";
  color: var(--COLOR_DECORATION);
}

.Quote > figcaption {
  margin: var(--SPACING_VERTICAL) calc(var(--SPACING_HORIZONTAL) + 3 * var(--STROKE_WIDTH)) 0;
  text-align: right;
  font-size: 0.85em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) + 100);
  color: var(--COLOR_DECORATION);
}

.Quote > figcaption > :first-child::before {
  content: "— "
}

/* TABLE ******************************************************************** */

.Table {
  border-collapse: collapse;
  margin: 0 auto;
}

.Table > caption {
  text-align: center;
  caption-side: bottom;
  margin-top: var(--SPACING_VERTICAL);
  font-style: italic;
  font-size: 0.85em;
  font-weight: calc(var(--FONT_SANS_WEIGHT) + 100);
}

.Table > thead,
.Table > tfoot {
  background: var(--COLOR_HIGHLIGHTED_FILL);
}

.Table > thead {
  box-shadow: inset 0 calc(-1 * var(--STROKE_WIDTH)) 0 0 var(--COLOR_STROKE);
}

.Table > thead th,
.Table > thead td {
  padding-bottom: calc(var(--SPACING_VERTICAL) + var(--STROKE_WIDTH));
  vertical-align: bottom;
}

.Table > tfoot {
  box-shadow: inset 0 var(--STROKE_WIDTH) 0 0 var(--COLOR_STROKE);
}

.Table > tfoot th,
.Table > tfoot td {
  padding-top: calc(var(--SPACING_VERTICAL) + var(--STROKE_WIDTH));
}

.Table > tbody {
}

.Table>tbody tr:hover {
  background: var(--COLOR_INTERACTIVE_FOCUSED_FILL);
}

.Table th {
  font-weight: calc(var(--FONT_SANS_WEIGHT) + 200);
}

.Table th[scope="row"] {}

.Table th,
.Table td {
  padding: var(--SPACING_VERTICAL) var(--SPACING_HORIZONTAL);
  vertical-align: top;
}

.Table--sticky > thead,
.Table.--sticky > thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.Table--sticky > tfoot,
.Table.--sticky > tfoot {
  position: sticky;
  bottom: 0;
}







/* i, b, u, s, em, strong, mark */
.Link {
  --COLOR_TEXT: var(--COLOR_INTERACTIVE_BLURRED_TEXT);

  box-shadow: 0 var(--INTERACTIVE_SHADOW_WIDTH) 0 0 var(--COLOR_INTERACTIVE_SHADOW);
  color: var(--COLOR_TEXT);
}

.Link:hover,
.Link:focus {
  --COLOR_TEXT: var(--COLOR_INTERACTIVE_FOCUSED_TEXT);
}

.Link:active {
  --COLOR_TEXT: var(--COLOR_INTERACTIVE_PRESSED_TEXT);
}

.Link:visited {
  --COLOR_INTERACTIVE_BLURRED_TEXT: var(--COLOR_INTERACTIVE_CHECKED_BLURRED_TEXT);
  --COLOR_INTERACTIVE_FOCUSED_TEXT: var(--COLOR_INTERACTIVE_CHECKED_FOCUSED_TEXT);
  --COLOR_INTERACTIVE_PRESSED_TEXT: var(--COLOR_INTERACTIVE_CHECKED_PRESSED_TEXT);
}
