/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: var(--FONT_SANS_FAMILY);
  line-height: var(--FONT_SANS_LINE);
  font-size: var(--FONT_SANS_SIZE);
  font-weight: var(--FONT_SANS_WEIGHT);
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
}

:root {
  font-style: normal;
  text-decoration: none;
  text-align: start;
  background: var(--COLOR_FILL);
  color: var(--COLOR_TEXT);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}




/* S'that reset enough for you, now? You'll behave, now? Good. */
