:root {
  --SPACING_HORIZONTAL: 15px;
  --SPACING_VERTICAL: 10px;
}

:root {
  --STROKE_WIDTH: 2px;
  --INTERACTIVE_SHADOW_WIDTH: 5px;
  --INTERACTIVE_OUTLINE_WIDTH: 2px;
  --INTERACTIVE_OUTLINE_OFFSET: 3px;
}

:root {
  --FONT_SANS_FAMILY: sans-serif;
  --FONT_SANS_LINE: 1em;
  --FONT_SANS_SIZE: 1em;
  --FONT_SANS_WEIGHT: 400;

  --FONT_MONO_FAMILY: monospace;
  --FONT_MONO_LINE: 1em;
  --FONT_MONO_SIZE: 1em;
  --FONT_MONO_WEIGHT: 400;
}

:root {
  --COLOR_INTERACTIVE_OUTLINE: #FF0;
  --COLOR_INTERACTIVE_SHADOW: #707;

  --COLOR_TEXT: #DDD;
  --COLOR_MARK: #DDD;
  --COLOR_STROKE: #999;
  --COLOR_FILL: #333;

  --COLOR_INTERACTIVE_DISABLED_TEXT: #930;
  --COLOR_INTERACTIVE_DISABLED_MARK: #D03;
  --COLOR_INTERACTIVE_DISABLED_STROKE: #900;
  --COLOR_INTERACTIVE_DISABLED_FILL: #300;

  --COLOR_INTERACTIVE_BLURRED_TEXT: #D00;
  --COLOR_INTERACTIVE_BLURRED_MARK: #D09;
  --COLOR_INTERACTIVE_BLURRED_STROKE: #900;
  --COLOR_INTERACTIVE_BLURRED_FILL: #300;

  --COLOR_INTERACTIVE_FOCUSED_TEXT: #0D0;
  --COLOR_INTERACTIVE_FOCUSED_MARK: #9D0;
  --COLOR_INTERACTIVE_FOCUSED_STROKE: #090;
  --COLOR_INTERACTIVE_FOCUSED_FILL: #030;

  --COLOR_INTERACTIVE_PRESSED_TEXT: #00F;
  --COLOR_INTERACTIVE_PRESSED_MARK: #09D;
  --COLOR_INTERACTIVE_PRESSED_STROKE: #00C;
  --COLOR_INTERACTIVE_PRESSED_FILL: #003;

  --COLOR_INTERACTIVE_INDETERMINATE_BLURRED_TEXT: #D33;
  --COLOR_INTERACTIVE_INDETERMINATE_BLURRED_MARK: #D39;
  --COLOR_INTERACTIVE_INDETERMINATE_BLURRED_STROKE: #933;
  --COLOR_INTERACTIVE_INDETERMINATE_BLURRED_FILL: #333;

  --COLOR_INTERACTIVE_INDETERMINATE_FOCUSED_TEXT: #3D3;
  --COLOR_INTERACTIVE_INDETERMINATE_FOCUSED_MARK: #9D3;
  --COLOR_INTERACTIVE_INDETERMINATE_FOCUSED_STROKE: #393;
  --COLOR_INTERACTIVE_INDETERMINATE_FOCUSED_FILL: #333;

  --COLOR_INTERACTIVE_INDETERMINATE_PRESSED_TEXT: #33F;
  --COLOR_INTERACTIVE_INDETERMINATE_PRESSED_MARK: #39D;
  --COLOR_INTERACTIVE_INDETERMINATE_PRESSED_STROKE: #33C;
  --COLOR_INTERACTIVE_INDETERMINATE_PRESSED_FILL: #333;

  --COLOR_INTERACTIVE_CHECKED_BLURRED_TEXT: #D66;
  --COLOR_INTERACTIVE_CHECKED_BLURRED_MARK: #D69;
  --COLOR_INTERACTIVE_CHECKED_BLURRED_STROKE: #966;
  --COLOR_INTERACTIVE_CHECKED_BLURRED_FILL: #366;

  --COLOR_INTERACTIVE_CHECKED_FOCUSED_TEXT: #6D6;
  --COLOR_INTERACTIVE_CHECKED_FOCUSED_MARK: #9D6;
  --COLOR_INTERACTIVE_CHECKED_FOCUSED_STROKE: #696;
  --COLOR_INTERACTIVE_CHECKED_FOCUSED_FILL: #636;

  --COLOR_INTERACTIVE_CHECKED_PRESSED_TEXT: #66F;
  --COLOR_INTERACTIVE_CHECKED_PRESSED_MARK: #69D;
  --COLOR_INTERACTIVE_CHECKED_PRESSED_STROKE: #66C;
  --COLOR_INTERACTIVE_CHECKED_PRESSED_FILL: #663;
}

/*

passive =
  & emphasized | normal | faded

checkbox, radio =
  & emphasized | normal | faded
  & unchecked * indeterminate | checked
  & disabled | blurred | focus | pressed

button, link, cards(?) =
  & emphasized | normal | faded
  & disabled | blurred | focus | pressed

input, textarea =
  & emphasized | normal | faded
  & disabled | blurred | focus

*/
